        <!-- Footer -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l12 col m12 col s12">
                        <!-- Footer Button -->
                        <div class="footer-button center-align">
                            <span class="mdi-action-history"></span>
                        </div>
                    </div>
  
                    <div class="col l12 col m12 col s12">
                        <!-- Footer Column 1 -->
                        <ul>
                            <li class="footer-title">Kompetensi<br>Utama</br></li>
                            <li>
                                <a href="javascript:void(0);">Sains Antariksa & Atmosfer</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Penginderaan Jauh</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Teknologi<br>Penerbangan & Antariksa</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Kebijakan Penerbangan & Antariksa</a>
                            </li>
                        </ul>
                        
                        <!-- Footer Column 2 -->
                        <ul>
                            <li class="footer-title">Layanan</li>
                            <li>
                                <a href="javascript:void(0);">Layanan Informasi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">BLU Penerbangan dan Antariksa</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Layanan Manajemen</a>
                            </li>
                        </ul>
                        
                        <!-- Footer Column 3 -->
                        <ul>
                            <li class="footer-title">Profil</li>
                            <li>
                                <a href="javascript:void(0);">Visi&Misi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Tugas & Fungsi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Organisasi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Sejarah</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">SDM</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Renstra & Kinerja</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Produk Litbang</a>
                            </li>
                        </ul>
                        
                        <!-- Footer Column 4 -->
                        <ul>
                            <li class="footer-title">Berita</li>
                            <li>
                                <a href="javascript:void(0);">Berita Lapan</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Siaran Pers</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">LAPAN@ Media</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Pengumuman</a>
                            </li>
                        </ul>
                        
                        <!-- Footer Column 5 -->
                        <ul>
                            <li class="footer-title">Edukasi</li>
                            <li>
                                <a href="javascript:void(0);">Artikel</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Kegiatan</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Interaktif</a>
                            </li>							
                        </ul>
                        
                        <!-- Footer Column 6 -->
                        <ul>
                            <li class="footer-title">PPID</li>
                            <li>
                                <a href="javascript:void(0);">Informasi Berkala</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Informasi Serta Merta</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Informasi Setiap Saat</a>
                            </li>
                        </ul>
                        
                        <!-- Footer Column 7 -->
                        <ul>
                            <li class="footer-title">Unduh</li>
                        </ul>
                        
                        <!-- Footer Column 8 -->
                        <ul>
                            <li class="footer-title">Kontak</li>
                            <li>
                                <a href="contact2.html">Kontak kami</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Email</a>
                            </li>
                            <li>
                                <a href="satker.html">Alamat Satker</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Peta Lokasi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">E-Kontak</a>
                            </li>
							
                        </ul>
                    </div>
                </div>
                <!-- Footer Logo -->
                <div class="logo">
                    <a href="index_NAVIGATION GANTI.html"><img src="images/material-logo.png" alt="Logo"></a>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                    <!-- Copyright Text -->
                    <div class="col l4 col m12 col s12">
                        &copy; LAPAN
                    </div>
                    <div class="col l4 col m12 col s12">
                        <!-- Social Icon -->
                        <div class="social-icon">
                            <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-rss"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-tumblr"></i></a>
                        </div>
                    </div>
                    <div class="col l4 col m12 col s12">
                    </div>
                    </div>
                </div>
            </div>
        </footer>
