/*.headtopnav {
	color:#FFF;
	border-bottom:none;
	font-weight:bold;
	font-size:14px;
 }
.topnav {
    width: 200px;
    padding: 40px 28px 25px 0;
	
	
}*/
 
ul.topnav {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 0.5em;
    list-style: none;border-bottom:none;
	   margin: 0;
	 background-color:#2BBFF6;

	
}
 
ul.topnav li { border-bottom:1px solid #EFEFEF; padding: 0;
 
	
	
	}
 
ul.topnav li a {
    line-height: 10px;
    font-size: 11px;
    padding: 10px 5px;
    color:#FFFFFF;
    display: block;
    text-decoration: none;
    font-weight: bolder;

   }
 
ul.topnav li a:hover {
    /*background-color:#003366;*/
    color:white;
}
 
ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
	background-color:#FFFFFF;	
	
}
 
ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
}
 
ul.topnav ul li a {
    padding-left: 20px;
    font-size: 11px;
    font-weight: normal;
 	color:#666666;
}
 
ul.topnav ul li a:hover {
    /*background-color:#FEFEFE;*/
    color:#675C7C;
}
 
ul.topnav ul ul li a {
    color:silver;
    padding-left: 40px;
}
 
ul.topnav ul ul li a:hover {
    /*background-color:#D3CEB8;*/
    color:#675C7C;
}
 
ul.topnav span{
    float:right;
}
ul.topnav ul li.active a { color:#0066FF; font-weight:bold; font-style:italic;}